@import "tailwindcss";

:root {
  --blue: #1dbbec;
  
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


#clock-img {
  animation: blink 1s infinite;
}



@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 12s linear infinite;
}